<div class="login-form">
  <h1 class="header">Coop App</h1>

  <div class="txtb">
    <input type="text" [class.focus]="usernameFocused" (focus)="usernameFocused = true"
           (blur)="onBlurUsername($event)" [(ngModel)]="username">
    <span data-placeholder="Username"></span>
  </div>

  <div class="txtb">
    <input type="password" [class.focus]="passwordFocused"  (focus)="passwordFocused = true"
           (blur)="onBlurPassword($event)" [(ngModel)]="password">
    <span data-placeholder="Password"></span>
  </div>
  <small class="text-danger" *ngIf="error">{{ error }}</small>

  <input type="submit" (click)="login()" class="logbtn" value="Login">

  <div class="bottom-text">
    Developed By <a target="_blank" href="https://akrivo.lk"> Sanu Vithanage </a>
  </div>

</div>



