<div class="sales-container">
  <div class="row g-3 mb-4">
    <div class="col-sm-6 col-md-3">
      <label for="storeSelect" class="form-label fw-semibold">Store</label>
      <select id="storeSelect" class="form-select" [(ngModel)]="selectedStore" (change)="onStoreChange(selectedStore)">
        <option *ngFor="let store of stores" [value]="store">{{ store }}</option>
      </select>
    </div>
    <div class="col-sm-6 col-md-3">
      <label for="periodSelect" class="form-label fw-semibold">Period</label>
      <select id="periodSelect" class="form-select" [(ngModel)]="selectedPeriod"
              (change)="onPeriodChange(selectedPeriod)">
        <option *ngFor="let p of periods" [value]="p">{{ p | titlecase }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="chart-block">
        <h3>{{ selectedPeriod | titlecase }} Sales by Employee</h3>
        <canvas baseChart #barChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-block">
        <h3>{{ selectedPeriod | titlecase }} Employee Contributions by Store</h3>
        <canvas baseChart #stackedChart [data]="stackedChartData" [options]="stackedChartOptions"
                [type]="stackedChartType"></canvas>
      </div>
    </div>


  </div>
</div>
